body {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
}
