body {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size:4vmin;
  overflow-y: hidden;
}

.main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  margin-left:10vmin;
  margin-right:10vmin;
}
